*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}
.BrightOrange{color: hsl(31, 77%, 52%);}
.DarkCyan{color: hsl(184, 100%, 22%);}
.VeryDarkCyan{color: hsl(179, 100%, 13%);}
.box{
  background-color: hsl(0, 0%, 95%);
  width: 100%;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
    display: flex;
    background-color: rgb(146, 146, 140);
    width: 700px;
    height: 600;    
    border-radius: 15px;
}
 .list{
   padding: 35px;
}
.list-1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 15px 0 0 15px;
}
.list-2{
    background-color: hsl(184, 100%, 22%);
}
.list-3{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 15px 15px 0;
}
h1{
    padding: 20px 0 20px 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -3px;
    color: hsla(0, 0%, 100%, 0.75);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 200;
    padding: 10px 0 10px 0;
}
button{
     background-color: hsl(0, 0%, 95%);
     padding: 10px;
     border: 2px solid hsl(0, 0%, 95%);
     border-radius: 20px;
     font-size: 15px;
}
button:hover{
    color: hsl(0, 0%, 95%);
    background-color:transparent;
}
@media(max-width:800px){
    .box{
        background-color: hsl(0, 0%, 95%);
        min-height: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content{
        display: block;
        background-color: rgb(146, 146, 140);
        width: 80%;   
        border-radius: 15px;
    }
    .list-1{
        border-radius: 15px 15px 0 0;
    }

    .list-3{
        border-radius: 0 0 15px 15px;
    }
}

/* /////////////:: */
.attribution { font-size: 14px; text-align: center; }
.attribution a {
     color: hsl(228, 45%, 44%); 
     text-decoration: none;
}
.attribution a:hover{
    color: rgb(19, 167, 167);
}